<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903482438651-dhs5pv48vvnu1e0dr9k3v2p4m7ntqom0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903482438651-dhs5pv48vvnu1e0dr9k3v2p4m7ntqom0</string>
	<key>API_KEY</key>
	<string>AIzaSyCwR2in6fP1T73xs4xMuHAhxie0WYLMpA0</string>
	<key>GCM_SENDER_ID</key>
	<string>903482438651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>betram.FoodVisor</string>
	<key>PROJECT_ID</key>
	<string>foodvisor-ccc79</string>
	<key>STORAGE_BUCKET</key>
	<string>foodvisor-ccc79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903482438651:ios:07a358aac9b70f5dbed15e</string>
</dict>
</plist>